body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    font-family: cursive;
    background: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bWF0aHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    
}



.form{
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border: solid 4px green;
    color: green;
}

.input::placeholder{
    color: lightgrey;
    font-family: cursive;
}

.btn{
    background-color: green;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    cursor: pointer;

}

.btn:hover{
    filter: brightness(0.8);
}

#score{
    text-align: right;
    color: green;
}